In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [2]:
df=pd.read_csv('data5.csv')
df

     CustomerID   Genre  Age  Annual Income  Spending Score
0             1    Male   19          19000               0
1             2    Male   35          20000               0
2             3  Female   26          43000               0
3             4  Female   27          57000               0
4             5    Male   19          76000               0
..          ...     ...  ...            ...             ...
194         195    Male   28          89000               0
195         196    Male   34          43000               0
196         197  Female   30          79000               0
197         198  Female   20          36000               0
198         199    Male   26          80000               0

[199 rows x 5 columns]

In [4]:
df1=df.drop("Genre", axis=1)
df1

     CustomerID  Age  Annual Income  Spending Score
0             1   19          19000               0
1             2   35          20000               0
2             3   26          43000               0
3             4   27          57000               0
4             5   19          76000               0
..          ...  ...            ...             ...
194         195   28          89000               0
195         196   34          43000               0
196         197   30          79000               0
197         198   20          36000               0
198         199   26          80000               0

[199 rows x 4 columns]

In [ ]:
y = df1.iloc[:,-1].values #Last column (target variable for prediction).
X = df1.iloc[:,:-1].values #All columns except the last one (features).

In [25]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2) #random_state=2 ensures reproducibility.

In [ ]:

LR = LogisticRegression()
LR.fit(X_train, y_train) 
#fit() trains it using the training data to learn the pattern between input and output.
#finds best weights

LogisticRegression()

In [ ]:
y_pred = LR.predict(X_test)
#This line uses the trained logistic Regression model to predict outputs for the test inputs x_test
#predict() uses those weights to make predictions on new data.
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel() # matrix

In [ ]:

print("True Negatives: ",tn)
print("False Positives: ",fp)
print("False Negatives: ",fn)
print("True Positives: ",tp)
#TN: Model predicted No, and actual was No.
#FP: Model predicted Yes, but actual was No.
#FN: Model predicted No, but actual was Yes.
#TP: Model predicted Yes, and actual was Yes.

True Negatives:  45
False Positives:  1
False Negatives:  1
True Positives:  3

In [20]:
accuracy = (tn + tp) * 100 / (tp + tn + fp + fn)
precision = tp / (tp + fp)
recall = tp / (tp + fn)
f1_score = (2 * precision * recall) / (precision + recall)
specificity = tn / (tn + fp)

print(f"Accuracy: {accuracy:.2f}%")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1_score:.2f}")
print(f"Specificity: {specificity:.2f}")

Accuracy: 96.00%
Precision: 0.75
Recall: 0.75
F1 Score: 0.75
Specificity: 0.98

In [39]:
print("Enter values for the following features:")

input_features = []
for i in range(X_train.shape[1]):
    val = float(input(f"Feature {i+1}: "))
    input_features.append(val)

Enter values for the following features:

In [40]:
input_array = np.array(input_features).reshape(1, -1)

In [41]:
prediction = LR.predict(input_array)[0]
print(f"Predicted Output: {prediction}")

Predicted Output: 0